@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* , *::before , *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  scroll-behavior: smooth !important;
}
.section {
  padding: 3rem 0;
  min-height: 70vh;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  img {
    flex: 1;
    width: 100%;
    max-height: 600px;
    border-radius: 15px;
  }

  .content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #021969;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #021969;
  }
  p {
    font-size: 1.2rem;
    color: #333;
  }
  .slider {
    display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
            width: 100% !important;
        }
    .sliderImage {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .singleImage {
        width: 100%;
        max-height: 600px;
        border: 10px solid #eee;
        border-radius: 15px;
        object-fit: contain;
      }
    }
  }
}
.cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  .card {
    max-width: 300px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem;
    background-color: #021969;
    transition: all 250ms ease-in-out;
    color: #fff;
    border-radius: 10px;
    svg {
      font-size: 1.5rem;
    }
    a {
      color: #fff;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    p {
    color: #fff;
    }
  }
}
.map {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  p {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #021969 !important;
  }
  iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 15px;
  }
}
.section2 {
  padding: 3rem 0;
  min-height: 70vh;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #021969;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #021969;
  }
  p {
    font-size: 1.2rem;
    color: #333;
  }
  .slider {
    display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
            width: 100% !important;
        }
    .sliderImage {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .singleImage {
        width: 100%;
        max-height: 600px;
        border: 10px solid #eee;
        border-radius: 15px;
        object-fit: contain;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
    gap: 1rem;
    img {
      width: 100%;
      object-fit: cover;
    }
    .content {
      gap: 0.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  
}